.header {
    background-color: #40826D;
    color: #EBF8FF;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    vertical-align: middle;
}

.bi-book {
    margin-top: 5px;
    font-size: 20pt;
    margin-right: 15px;
}

.title {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    letter-spacing: 1pt;
    margin-top: 3px;
}